body{
  margin: 50px !important;
}

#myProgress {
  width: 80%;
  background-color: #e2e2e2;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: rgb(50, 82, 226);
  text-align: center;
  line-height: 32px;
  color: #ffffff;
}

h1{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}